[submodule "dotemacs/site-lisp/yaml-mode"]
	path = dotemacs/site-lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "dotemacs/site-lisp/inf-ruby"]
	path = dotemacs/site-lisp/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
[submodule "dotemacs/site-lisp/magit"]
	path = dotemacs/site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "dotemacs/site-lisp/helm"]
	path = dotemacs/site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "dotemacs/site-lisp/rvm"]
	path = dotemacs/site-lisp/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "dotemacs/site-lisp/rhtml"]
	path = dotemacs/site-lisp/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "dotemacs/site-lisp/expand-region"]
	path = dotemacs/site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "dotemacs/site-lisp/scss-mode"]
	path = dotemacs/site-lisp/scss-mode
	url = https://github.com/antonj/scss-mode
[submodule "dotemacs/site-lisp/markdown-mode"]
	path = dotemacs/site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "dotemacs/site-lisp/nxhtml"]
	path = dotemacs/site-lisp/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
